// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  background: #eee;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  background: white;
  width: 50%;
  min-width: 500px;
  min-height: 100%;
  margin: 0 auto;
  padding-left: 14px;
  padding-right: 14px;
}

.login {
  position: absolute;
  left: 50%;
  top: 40%;
}

.login_image {
  position: relative;
  left: -71px;
}

.logged {
  float: right;
  position: relative;
  margin-top: 17px;
  padding-bottom: 20px;
}

.username {
  display: inline;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 0.8em;
  opacity: 0.5;
}

.avatar {
  display: inline-block;
  background-color: #eee;
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  position: relative;
  top: 14px;
  margin-left: 4px;
  margin-right: 3px;
}

.logout {
  display: inline;
  font-family: Arial, sans-serif;
  font-size: 0.8em;
  position: relative;
  top: -1px;
}

#task_text {
  display: inline;
  resize: none;
  width: 300px;
  height: 64px;

  margin-top: 16px;
  padding-left: 5px;
}

.submit {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-indent: 0;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #888;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  height: 40px;
  line-height: 40px;
  width: 100px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #ffffff;

  display: block;
  position: relative;
  top: -6px;
  left: 209px;
  margin-bottom: 6px;
}

.explain {
  font-family: Arial, sans-serif;
  font-size: 0.7em;
  width: 200px;
  position: relative;
  top: -44px;
  left: 4px;
  opacity: 0.6;
  margin-bottom: -32px;
}

.info_image {
  width: 20px;
  position: relative;
  top: -40px;
  left: 175px;
  opacity: 0.6;
}


.task {
  display: table;
  table-layout: fixed;
  font-family: Arial, sans-serif;
  width: 100%;
  min-height: 48px;
  margin-top: 2px;
}

.task:after {
  content: '';
  display: table-caption;
  width: 100%;
  height: 1px;
  background: #eee;
}

.task:hover {
  opacity: 1 !important;
}

input#edit {
  width: 97%;
  height: 2em;
  padding-left: 8px;
  position: relative;
  top: 9px;
}

.done, .content, .control {
  display: table-cell;
  vertical-align: middle;
}

.done {
  width: 40px;
  text-align: center;
  position: relative;
  top: 3px;
}

/*.checkbox {
  width: 18px;
  height: 18px;
}*/

.done {
  width: 36px;
  position: relative;
  margin: 20px auto;
}
 
.done label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 12px;
  left: 2px;
  background: #fff;
  border: 1px solid #e2e2e2; 
  border-radius: 4px;
  box-shadow: 0px 0px 2px #aaa;
}
.done label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Safari and Chrome */
  -o-transform: rotate(-45deg); /* Opera */
  -moz-transform: rotate(-45deg); /* Firefox */
}
.done input[type=checkbox] {
  visibility: hidden;
}
.done input[type=checkbox]:checked + label:after {
  opacity: 1;    
}

.content {
  color: #444;
  padding-left: 2px;
  word-wrap: break-word;
  position: relative;
  top: 2px;
}

.text, .date {
  display: inline;
}

.date {
  float: right;
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  opacity: 0.6;
  position: relative;
  top: 2px;
}

.control {
  color: #999;
  text-align: right;
  width: 52px;
  padding-right: 16px;
}

.delete_image, .edit_image, .save_image, .cancel_image {
  width: 14px;
  position: relative;
  top: 4px;
  opacity: 0.2;
  color: #aaa;
  margin-left: 8px;
}

.delete_image:hover, .edit_image:hover, .save_image:hover, .cancel_image:hover {
  opacity: 1
}








